# Ignore my Continuous Deploy Keys/Credentials
.travis/*.key
.travis/*.key.pub

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
log/*
tmp/*
!/log/.keep
!/tmp/.keep
*.log
log/
tmp/

#Ignore databases
*.sql

#Ignore vim temporary files
*.sw*
*.swp*

#Ignore code editor configurantion files
.vscode/

vendor/bundle
coverage/
